<h1>Artikel</h1>

<p class="alert alert-info"><strong><%= articles.current_page.length %></strong> nouns listed below with their articles</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Article</th>
      <th>Subject</th>
      <th>Translation</th>
    </tr>
  </thead>
  <tbody>
    <% articles.current_page.each do |article| %>
      <tr>
        <td> <%= article.article %></td>
        <td> <%= article.noun %></td>
        <td> <%= article.translation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
