<h1>Artikel</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Article</th>
      <th>Subject</th>
      <th>Translation</th>
    </tr>
  </thead>
  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td> <%= article.article %></td>
        <td> <%= article.noun %></td>
        <td> <%= article.translation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
