<div class="" id="app" data-nouns="<%= current_page_as_json %>"></div>

<%= javascript 'articles_test.js' %>

<div class="btn-group pull-right">
  <a class="btn btn-danger pull-left" href="<%= reload_link %>">Try again</a>
  <a class="btn btn-success pull-right" href="<%= link_to_next_page %>">Next page</a>
</div>
