<!DOCTYPE html>
<html>
  <head>
    <title>Deutsh Lerne</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
    <%= javascript 'app.bundle.js' %>
    <%= javascript 'application.js' %>
  </body>
</html>
