<!DOCTYPE html>
<html>
  <head>
    <title>Deutsh Lerne</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
    <script src="/js/app.bundle.js" type="text/javascript"></script>
    <%= javascript 'application.js' %>
  </body>
</html>
